<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Intro Vue Directives</title>
    <style>
        .box{
            background-color: blue;
            height: 200px;
            width: 200px;
        }
        .box.two{
            background-color: red;
        }
        .box.three{
            background-color: pink;
        }
        [v-cloak]{
            display:none;
        }
    </style>
</head>
<body>
    <div id="app" v-cloak>
        {{ greeting }}
        <br>
        <input type="text" v-model="greeting">
        <div class="box" v-if="isVisible">
            <span></span>
        </div>
        <div class="box two" v-else-if="isVisible2"></div>
        <div class="box three" v-else></div>

    </div>
</body>
<script src="https://unpkg.com/vue@3"></script>
<script>
    let app = Vue.createApp({
        data: function() {
            return{
                greeting: 'Hello',
                isVisible: false,
                isVisible2: true,
            }
        }
    })

    app.mount('#app')
</script>
</html>